<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xbot">

  <xacro:include filename="$(find robot_describes)/urdf/ackermann_yu7.xacro"/>

  <!-- 车身 -->
  <xacro:yu7 visual_rpy="1.5708 0 0"/>


  <!-- ros2 control 声明接口 -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="velocity" />
      <state_interface name="position" />
    </joint>
    <joint name="left_wheel_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
    </joint>
    <joint name="right_wheel_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
    </joint>
    <joint name="front_left_wheel_joint">
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="front_right_wheel_joint">
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <!-- gazebo 插件，管理 control manager -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find robot_describes)/config/ackermann_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
